{%- extends "bootstrap/base.html" %}

{% block title %}Lorum-Ipsum - Flask Style{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="Lorem Ipsum generator Flask style advert free with a REST API." />
    <meta name="keywords" content="Lorem Ipsum, Generator, Python, Flask, REST, API, PythonAnywhere" />

{% endblock metas %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css')}}">
{% endblock %}

{% block navbar %}
{{nav.frontend_top.render(renderer='inverse')}}
{% endblock %}