{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{% block content %}
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ utils.flashed_messages(messages) }}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div class="jumbotron">
            <h2>Lorem Ipsum - Flask Style
                <small>without any adverts!</small>
            </h2>
        </div>


        <div class="embed-responsive embed-responsive-16by9">
             <iframe id="htmlFrame" name="htmlFrame" src="/api/v1/paragraphs/5/text" height="100%"
                     style="position:absolute;" frameborder="0" scrolling="auto" class="embed-responsive-item"></iframe>
        </div>
    </div>
{%- endblock %}