{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ utils.flashed_messages(messages) }}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div class="jumbotron">
            <h2>Lorem Ipsum - Flask Style
                <small>without any adverts!</small>
            </h2>
        </div>

        <form class="form-inline" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.resource) }}
            {{ wtf.form_field(form.count) }}
            {{ wtf.form_field(form.response_format) }}
            <button type="submit" class="btn btn-default" title="Refresh"><span class="glyphicon glyphicon-refresh"></span></button>
        </form>

        <div class="row">
            <h4>Equivalent API call:</h4>
            <code><a href="{{ external_rest_url }}" target="_blank">{{ external_rest_url }}</a></code>
        </div>

        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                 <iframe id="htmlFrame" name="htmlFrame" src="{{ iframe_source_url }}"
                         style="overflow:hidden; display:block; position: absolute; height: 100%; width: 100%" frameborder="0" scrolling="auto" class="embed-responsive-item"></iframe>
            </div>
        </div>
    </div>
{%- endblock %}